<a href="https://colab.research.google.com/github/sulaimanbehzad/IR_recommender_system/blob/main/collaborative_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
import pandas as pd
import numpy as np

# Data inspection

In [71]:
books_rating = pd.read_csv('BX-Book-Ratings.csv',sep=';', error_bad_lines=False, encoding='latin-1')
books = pd.read_csv('BX-Books.csv',sep=';', error_bad_lines=False, encoding='latin-1')
users = pd.read_csv('BX-Users.csv',sep=';', error_bad_lines=False, encoding='latin-1')

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [72]:
books_rating.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [73]:
books_rating.describe()

            User-ID   Book-Rating
count  1.149780e+06  1.149780e+06
mean   1.403864e+05  2.866950e+00
std    8.056228e+04  3.854184e+00
min    2.000000e+00  0.000000e+00
25%    7.034500e+04  0.000000e+00
50%    1.410100e+05  0.000000e+00
75%    2.110280e+05  7.000000e+00
max    2.788540e+05  1.000000e+01

In [74]:
print(books_rating.isnull().sum())

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [75]:
print(books.isnull().sum())

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [76]:
print(users.isnull().sum())

User-ID          0
Location         0
Age         110762
dtype: int64

In [77]:
users = users.drop(columns=['Age'])
users.head()

   User-ID                            Location
0        1                  nyc, new york, usa
1        2           stockton, california, usa
2        3     moscow, yukon territory, russia
3        4           porto, v.n.gaia, portugal
4        5  farnborough, hants, united kingdom

In [78]:
books_df = pd.merge(books_rating, books, on='ISBN')
books_df.head()

   User-ID  ...                                        Image-URL-L
0   276725  ...  http://images.amazon.com/images/P/034545104X.0...
1     2313  ...  http://images.amazon.com/images/P/034545104X.0...
2     6543  ...  http://images.amazon.com/images/P/034545104X.0...
3     8680  ...  http://images.amazon.com/images/P/034545104X.0...
4    10314  ...  http://images.amazon.com/images/P/034545104X.0...

[5 rows x 10 columns]

In [79]:
df = pd.merge(books_df, users, on='User-ID')
df.head()

   User-ID  ...               Location
0   276725  ...      tyler, texas, usa
1     2313  ...  cincinnati, ohio, usa
2     2313  ...  cincinnati, ohio, usa
3     2313  ...  cincinnati, ohio, usa
4     2313  ...  cincinnati, ohio, usa

[5 rows x 11 columns]

### Splitting data into train and test sets

In [80]:
df = df.drop(columns=['Image-URL-S', 'Image-URL-M', 'Image-URL-L'])
df.head()

   User-ID        ISBN  ...         Publisher               Location
0   276725  034545104X  ...  Ballantine Books      tyler, texas, usa
1     2313  034545104X  ...  Ballantine Books  cincinnati, ohio, usa
2     2313  0812533550  ...         Tor Books  cincinnati, ohio, usa
3     2313  0679745580  ...           Vintage  cincinnati, ohio, usa
4     2313  0060173289  ...     HarperCollins  cincinnati, ohio, usa

[5 rows x 8 columns]

In [81]:
X = df.drop(columns=['Book-Rating'])
y = df['Book-Rating']

In [82]:
X.head()

   User-ID        ISBN  ...         Publisher               Location
0   276725  034545104X  ...  Ballantine Books      tyler, texas, usa
1     2313  034545104X  ...  Ballantine Books  cincinnati, ohio, usa
2     2313  0812533550  ...         Tor Books  cincinnati, ohio, usa
3     2313  0679745580  ...           Vintage  cincinnati, ohio, usa
4     2313  0060173289  ...     HarperCollins  cincinnati, ohio, usa

[5 rows x 7 columns]

In [83]:
y

0           0
1           5
2           9
3           8
4           9
           ..
1031131     7
1031132     5
1031133     0
1031134    10
1031135     8
Name: Book-Rating, Length: 1031136, dtype: int64

In [84]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [85]:
# !pip install surprise

In [86]:
df.head()

   User-ID        ISBN  ...         Publisher               Location
0   276725  034545104X  ...  Ballantine Books      tyler, texas, usa
1     2313  034545104X  ...  Ballantine Books  cincinnati, ohio, usa
2     2313  0812533550  ...         Tor Books  cincinnati, ohio, usa
3     2313  0679745580  ...           Vintage  cincinnati, ohio, usa
4     2313  0060173289  ...     HarperCollins  cincinnati, ohio, usa

[5 rows x 8 columns]

In [87]:
users_book_rating = df[['User-ID', 'ISBN', 'Book-Rating']]
users_book_rating.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1     2313  034545104X            5
2     2313  0812533550            9
3     2313  0679745580            8
4     2313  0060173289            9

In [88]:
from surprise import Reader, Dataset 
reader = Reader(rating_scale=(1,10))
data_for_svd = Dataset.load_from_df(users_book_rating, reader)

In [89]:
print(data_for_svd)

<surprise.dataset.DatasetAutoFolds object at 0x7fc434e59550>

In [90]:
from surprise import SVD, accuracy
from sklearn import model_selection

In [93]:
# Load SVD algorithm
model = SVD()

# Train on books dataset
%time model_selection.cross_validate(model, data, scoring='accuracy', cv=5, verbose=True)

TypeError: ignored

In [ ]:
trainset, testset = model_selection.train_test_split(data_for_svd, test_size=0.2)
model_svd = SVD()
model_svd.fit(trainset)
predictions = model_svd.test(testset)
accuracy.rmse(predictions)